<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="{% url 'home' %}">Map <span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item inactive">
                    <a class="nav-link text-white" href="{% url 'view_profile' %}">Profile <span
                            class="sr-only"></span></a>
                </li>
                <li class="nav-item inactive">
                    <a class="nav-link text-white" href="{% url 'login' %}">Login <span
                            class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>